<ion-view view-title="Privacy Police" class="privacy">
  <ion-content>
    <ion-item class="col-100">
      <div class="card" style="margin: 0px 0px;">
        <!-- <div class="item item-divider cardcustomcopy">
					LATINOATHLETE
					</div> -->
        <div class="item item-text-wrap cardcustomcopy">
          LatinoAthlete.com, knows that you care about how your personal information is used and shared, and we take your privacy very seriously. Please read the following to learn more about our privacy policy. By visiting our website, you are accepting the practices
          outlined in this Privacy Policy.
        </div>
        <div class="item item-text-wrap cardcustomcopy">
          This Privacy Policy covers LatinoAthlete.com’s treatment of personal information that LatinoAthlete.com gathers when you are on the LatinoAthlete.com website and when you use LatinoAthlete.com services. This policy does not apply to the practices of third
          parties that LatinoAthlete.com does not own or control, or to individuals that LatinoAthlete.com does not employ or manage.
        </div>
        <div class="item item-divider item-text-wrap cardcustomcopy">
          Information Collected by LatinoAthlete.com
        </div>
        <div class="item item-text-wrap cardcustomcopy">
          We only collect personal information that is relevant to the purpose of our website. This information allows us to provide you with a customized and efficient experience. We do not process this information in a way that is incompatible with this objective.
          We collect the following types of information from our LatinoAthlete.com users:
        </div>
        <div class="item item-text-wrap cardcustomcopy">
          1 - Information You Provide to Us: We receive and store any information you enter on our website or provide to us in any other way. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our
          special features.
        </div>
        <div class="item item-text-wrap cardcustomcopy">
          2 - Automatic Information: <br> - We receive and store certain types of information whenever you interact with us. LatinoAthlete.com and its authorized agents automatically receive and record certain “traffic data” on their server logs from
          your browser including your IP address, LatinoAthlete.com cookie information, and the page you requested. LatinoAthlete.com uses this traffic data to help diagnose problems with its servers, analyze trends and administer the website. - LatinoAthlete.com
          may collect and, on any page, display the total counts that page has been viewed. - Many companies offer programs that help you to visit websites anonymously. While LatinoAthlete.com will not be able to provide you with a personalized experience
          if we cannot recognize you, we want you to be aware that these programs are available.
        </div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          E-mail Communications
        </div>

				<div class="item item-text-wrap cardcustomcopy">
					LatinoAthlete.com is very concerned about your privacy and we will never provide your email address to a third party without your explicit permission, as detailed in the “Sharing Your Information” section below. LatinoAthlete.com may send out e-mails with LatinoAthlete.com-related news, products, offers, surveys or promotions.
				</div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Cookies
        </div>

				<div class="item item-text-wrap cardcustomcopy">
					Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your Web browser to enable our systems to recognize your browser and tell us how and when pages in our website are visited and by how many people. LatinoAthlete.com cookies do not collect personal information, and we do not combine information collected through cookies with other personal information to tell us who you are or what your screen name or e-mail address is.
				</div>
				<div class="item item-text-wrap cardcustomcopy">
					The “help” portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. We recommend that you leave the cookies activated because cookies allow you to use some of LatinoAthlete.com’s coolest features.
				</div>
				<div class="item item-text-wrap cardcustomcopy">
					LatinoAthlete.com’s advertising partners may place a cookie on your browser that makes it possible to collect anonymous non-personally identifiable information that ad delivery systems use to present more relevant ads. If you would prefer to opt-out of this standard practice, please visit our advertising partner Platform-A’s privacy policy and opt-out page.
				</div>
				<div class="item item-text-wrap cardcustomcopy">
					We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, click here www.networkadvertising.org.
				</div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Sharing Your Information
        </div>

				<div class="item item-text-wrap cardcustomcopy">
				Rest assured that we neither rent nor sell your personal information to anyone and that we will share your personal information only as described below.</div>
				<div class="item item-text-wrap cardcustomcopy">
				LatinoAthlete.com Personnel: LatinoAthlete.com personnel and authorized consultants and/or contractors may have access to user information if necessary in the normal course of LatinoAthlete.com business.</div>
				<div class="item item-text-wrap cardcustomcopy">
				Business Transfers: In some cases, we may choose to buy or sell assets. In these types of transactions, user information is typically one of the business assets that is transferred. Moreover, if LatinoAthlete.com, or substantially all of its assets, were acquired, user information would be one of the assets that is transferred.</div>
				<div class="item item-text-wrap cardcustomcopy">
				Protection of LatinoAthlete.com and Others: We may release personal information when we believe in good faith that release is necessary to comply with a law; to enforce or apply our Terms of Use and other policies; or to protect the rights, property, or safety of LatinoAthlete.com, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</div>
				<div class="item item-text-wrap cardcustomcopy">
				Syndication: LatinoAthlete.com allows for the RSS syndication of all of its public content within the LatinoAthlete.com website.</div>
				<div class="item item-text-wrap cardcustomcopy">
				With Your Consent: Except as noted above, we will contact you when your personal information is shared with third parties or used for a purpose incompatible with the purpose(s) for which it was originally collected, and you will be able to opt out to prevent the sharing of this information.</div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Children Under 18 Years of Age
        </div>

        <div class="item item-text-wrap cardcustomcopy">
          You must be 13 years and older to register to use the LatinoAthlete.com website. As a result, LatinoAthlete.com does not specifically collect information about children. If we learn that LatinoAthlete.com has collected information from a child under the
          age of 13, we will delete that information as quickly as possible. We recommend that minors between the ages of 13 and 18 ask and receive their parents’ permission before using LatinoAthlete.com or sending information about themselves or anyone
          else over the Internet.
        </div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Changes to this Privacy Policy
        </div>

        <div class="item item-text-wrap cardcustomcopy">
          LatinoAthlete.com may amend this Privacy Policy from time to time, at its sole discretion. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes to the Privacy Policy, we
          will notify you by posting an announcement on the LatinoAthlete.com website so you are always aware of what information we collect, how we use it, and under what circumstances if any, it is disclosed.
        </div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Conditions of Use
        </div>

        <div class="item item-text-wrap cardcustomcopy">
          If you decide to visit LatinoAthlete.com website, your visit and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Use, including limitations on damages, arbitration of disputes, and application of New Jersey state law.
        </div>

        <div class="item item-divider item-text-wrap cardcustomcopy">
          Effective Date of this Privacy Policy
        </div>

        <div class="item item-text-wrap cardcustomcopy">
          This Privacy Policy is effective as of March 15th, 2017.
        </div>


        <div class="item item-divider item-text-wrap cardcustomcopy">
          Questions or Concerns
        </div>

        <div class="item item-text-wrap cardcustomcopy">
          Any questions or concerns about this Privacy Policy may be directed to info[@]latinoathlete[dot]com.
        </div>



      </div>
    </ion-item>
  </ion-content>
</ion-view>
