<ion-content class="has-header">
<iframe 
             name="iframe_a"  
             id="iframea"  
             src="https://www.latinoathlete.tv/register" 
             frameborder="0" 
             style=" overflow:hidden;
                     overflow-x:hidden;
                     overflow-y:hidden;
                     height:100%;
                     width:100%;
                     position:absolute;
                     top:14px;left:0px;right:0px;bottom:0px;
                     -ms-touch-action: none;" 
                     height="100%" width="100%"
    ></iframe>
</ion-content>