<ion-view   class="item-detail">
	<ion-content>
		<div class="thumbnail">
			<video ng-if="getVideoType()=='UPLOAD'" src="{{video_url}}" poster="{{videoData.thumbnail}}"></video>
			<iframe ng-if="getVideoType()=='Vimeo'" src="{{video_url}}"></iframe>
			<iframe ng-if="getVideoType()=='YouTube'" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen"
        msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen" src="{{video_url}}"></iframe>
		</div>
		<div class="title">
			<span ng-bind-html="videoData.title"></span>
		</div>
		<div class="content">
			<div class="meta">
				<span class="category">
					Category: <b>{{videoData.category_name}}</b>
				</span>
				<span class="author">
					By: <a href="#">{{videoData.owner.username}}</a>
				</span>
			</div>
			<div class="description" >
				<span ng-bind-html="videoData.markup_description"></span>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="footer">
		<div class="row text-center">
			<div class="col-25">
				<span class="is-icon-view"></span>
					{{videoData.views}}
			</div>
			<div class="col-25">
				<!-- <span class="is-icon-like"></span>
				{{videoData.stats.likes}} -->
			</div>
			<div class="col-25" ng-click="shareVideo()">
				<!-- <a href="#" onclick="return false;">
					<span class="is-icon-share"></span>
					{{videoData.stats.shares}}
				</a> -->

			</div>
			<div class="col-25">
				{{videoData.time_ago}}
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
