<ion-view view-title="Categories" class="category-list">
	<ion-content>
		<div class="all-categories">
			  <!-- Start Item Grid	 -->
			<div class="row-custom">
				<div class="col-100" ng-repeat="category in categoryData">
					<div class="category-item" ng-click="openCategory({{category.id}})">
						<img actual-src="{{category.image}}" ng-src="img/default.jpg" alt="" class="img-responsive">
						<!-- <div class="icon">
							<img src="{{category.icon}}">
						</div> -->
						<span class="title">
							{{category.name}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
