<ion-view cache-view="false" view-title={{categoryName}} ng-init="init();">
	<div class="content-wrapper">
		<ion-view>
			<ion-content>
				<div class="content-inner">
					<div class="clearfix row-custom">
						<ion-refresher
							pulling-text="Pull to refresh..."
							on-refresh="refreshCategoryData()">
						</ion-refresher>
						<ion-list>
								<ion-item class="col-100" ng-repeat="video in categoryData" ng-click="openVideo({{video.id}})">
								  <!-- Start Item Grid	 -->
										<div class="item-grid-video">
											<div class="thumbnail">
												<img actual-src="{{video.thumbnail}}" ng-src="img/default.jpg">
											</div>
											<div class="content">
												<a href="#" onclick="return false;" class="title">{{video.title}}</a>
												<div class="author text-center">
													<div><img id="useravatar" actual-src="{{video.owner.avatar}}"></div>
													<div class="title">{{video.owner.username}}</div>
												</div>
												<div class="meta clearfix">
													<div class="viewst text-center">
														<i class="is-icon-view"></i>
														<span class="count"> {{video.views}}  </span>
														<i class="far fa-calendar-alt"></i>
														<span class="count"> {{video.registered}}</span>
													</div>
													<div class="category">
														<a href="#"></a>
													</div>
												</div>
											</div>
										</div>
								</ion-item>
						 </ion-list>
						<ion-infinite-scroll
							ng-if="canLoadMoreCategoryData"
							on-infinite="loadMoreCategoryData()"
							distance="5%">
						</ion-infinite-scroll>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</div>
</ion-view>
