<ion-modal-view class="modal-login modal-inspius">
  <ion-content overflow-scroll="false">
    <div class="header">
      <a class="close" ng-click="closeLogin()"><i class="is-icon-back"></i></a>
      <div class="logo">
        <img src="img/logo.png">
      </div>
    </div>
    <form name="loginForm" ng-submit="doLogin(loginForm)" novalidate="">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="is-icon-avatar"></i>
          <input type="text" name="username" ng-model="loginData.username" required placeholder="Username">
        </label>
        <div class="invalid-required" ng-show="loginForm.username.$error && loginForm.$submitted">* Username is required</div>
        <label class="item item-input">
          <i class="is-icon-padlock"></i>
          <input type="password" name="password" ng-model="loginData.password" placeholder="Password" required>
        </label>
        <div class="invalid-required" ng-show="loginForm.password.$error && loginForm.$submitted">* Password is required</div>
        <label class="item item-button">
          <button class="button button-block button-positive" type="submit">Sign in</button>
        </label>
        <a href="#" ng-click="forgotPassword()" class="forgot-password">Forgot Password</a>
      </div>
    </form>
    <!-- <div class="footer">
      <div class="link">
        <a href="#" ng-click="doLoginFacebook();" onclick="return false;">Sign in with Facebook <i class="is-icon-next"></i></a>
      </div>
      <div class="link" ng-click="register()">
        <a href="#">New to YoVideo? Sign up now <i class="is-icon-next"></i></a>
      </div>
    </div> -->
  </ion-content>
</ion-modal-view>
