/* Empty. Add your own CSS if you like */
 #useravatar {
   height: 9vw;
   width: 9vw;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px
 }
