<ion-view view-title="About Us" class="account-setting">
	<ion-content>
		<ion-item class="col-100">
			<div class="card" style="margin: 0px 0px;">
					<div class="item item-divider cardcustomcopy" style="border-style: none;">
					LATINOATHLETE
					</div>
					<div class="item item-text-wrap cardcustomcopy" style="border-style: none;">
					Is a purpose-driven Digital Sports Media Platform dedicated to recognizing and inspiring the emerging multicultural LatinX through sports in hopes of sending more kids to college.
					</div>
					<div class="item item-text-wrap cardcustomcopy" style="border-style: none;">
					Our Motivation is to Recognize, Inspire & Empower, by creating an authentic experience and providing powerful and compelling stories. Latinos are mobile, highly engaged and are looking for content that speaks to them from their point of view.
					</div>
					<div class="item item-text-wrap cardcustomcopy" style="border-style: none;">
					Latinos today are demanding culturally relevant content and Latino Athlete is committed to providing the best relevant content for this audience.
					</div>
			</div>
		</ion-item>
	</ion-content>
</ion-view>
