<ion-view view-title="Categories" class="category-list">
	<ion-content>
		<div class="all-categories">
			  <!-- Start Item Grid	 -->
			<div class="row-custom">
				<div class="col-100" ng-repeat="category in categoryData">
					<div class="list card" ng-click="openCategory({{category.id}})">
					  <div class="item">
					    <h2>{{category.name}}</h2>
					  </div>
					  <div class="item item-image">
					    <img src="{{category.image}}">
					  </div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
