<ion-modal-view class="modal-register modal-inspius">
  <ion-content>
    <div class="header">
      <a class="close" ng-click="closeRegister()"><i class="is-icon-back"></i></a>
      <div class="logo">
        <img src="img/logo.png" style="height:63px">
      </div>
    </div>
    <form ng-submit="doRegister()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="is-icon-avatar"></i>
          <input type="text" ng-model="registerData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <i class="is-icon-envelope"></i>
          <input type="email" ng-model="registerData.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <i class="is-icon-padlock"></i>
          <input type="password" ng-model="registerData.password" placeholder="Password">
        </label>
        <label class="item item-input">
          <i class="is-icon-padlock"></i>
          <input type="password" ng-model="registerData.confirm_password" placeholder="Confirm Password">
        </label>
        <label class="item item-button">
          <button class="button button-block button-positive" type="submit">Continue</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
