
#useravatar {
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

.cardcustomcopy {
    border-style: none;
    font-size: 12px!important
}

.noborder {
    border-width: 0px;
}

.item-detail .content {
    background-color: #fff;
}

.item-detail .footer {
    background: #fff;
    color: #000;
    border-top: 1px solid #ddd;
}

.has-footer {
    background-color: #fff;
}